* {
    margin: 0;
    padding: 0;
    font-family: 'Permanent_Marker', Arial, sans-serif;

}

@font-face {
    font-family: "Permanent_Marker";
    src: url(../font/Permanent_Marker/PermanentMarker-Regular.ttf);
}
@font-face {
    font-family: "Indie_Flower";
    src: url(../font/BalooThambi-Regular.ttf);
}
html{
    background: #CCCCCC !important;
}
nav {
    padding: 10px 0 !important;
}

.navbar {
    background: #F1C435 !important;
    border: none !important;
    border-bottom: none !important;
}

.navbar-nav {
    background: rgb(87, 87, 87) !important;
    color: white;
}

.navbar-brand {
    color: #ffffff !important;
}

.nav-tabs {
    border: none !important;
}

.active {
    border-bottom: none !important;
}

#botonCategorias>i {
    font-size: 35px;
}
.titulo{
    font-size:55px !important;
}
#botonCategorias:hover {
    background: darkgray !important;
    border: 1px solid white !important;
}

#botonCategorias:hover>i {
    color: white !important;
}

section {
    background: rgb(231, 231, 231) !important;
    min-height: 68.6vh;
    border: none !important;

}

div[role="imagenDeFondo"] {}


/*#navbarSupportedContent>.navbar-nav>li:hover {
    color: black !important;
}*/

#navbarSupportedContent>ul.navbar-nav>li:hover {
    background: rgb(124, 124, 124) !important;
}

.navbar-brand:hover {
    color: rgb(255, 255, 255) !important;
}


.dropdown-menu a:hover {
    background: rgb(253, 253, 253) !important;
    color: black !important;
}

div.contenido {
    background: rgb(87, 87, 87) !important;
}

.publicacion {
    background: white !important;
}

header {
    height: auto !important;
}

div#carouselExampleControls {
    height: 80% !important;
    border: none;
    border-bottom: none !important;
}

.carousel-inner>.carousel-item>img {
    height: 160px !important;
}

aside {
    height: 30px !important;
    background: rgb(87, 87, 87) !important;
    border: none;

}

.nav-tabs>li {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;

}

.sombraLetras {
    text-shadow: 0px 0px 10px #070000;
}

aside .categorias {
    color: rgb(71, 71, 71) !important;
    background: rgb(87, 87, 87) !important;
}

li.nav-item {
    height: 40px !important;
}



aside ul li {
    border-top: 1px solid black !important;
    border-right: 1px solid black !important;
    color: white !important;
    font-weight: bold;

}

aside ul li a {
    color: white !important;
}

.active{
   
}
aside>ul>li.active span{
    background: rgb(255, 255, 255) !important;
    color: rgb(71, 71, 71) !important;
}

aside li:hover {
    color: black !important;
    background-color: #f2f2f3 !important;
}

aside>ul>li.active:hover {
    background-color: white !important;
}

aside li a:hover {
    color: rgb(71, 71, 71) !important;
}


.com:nth-of-type(odd) {
    background-color: #c4c4c4 !important;
}

.com:nth-of-type(even) {
    background-color: #fafafa !important;
}

.sombraImagen {
    box-shadow: 5px 10px #888888;
    ;
}

.cSelec {
    background-color: rgb(255, 241, 197);
}

.inputContador {
    width: 35px !important;
    background-color: rgb(236, 236, 236) !important;
    border: 1px solid gray !important;
    border-radius: 50px;
    height: 35px;
}

/**Formato input file**/
.inputfileDiv {
    background-color: #FFC312;
    border-radius: .25em !important;
}

.inputfileDivVerde {
    background-color: green;
    border-radius: .25em !important;
}

.inputfile {

    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {

    cursor: pointer;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #FFC312;
    display: inline-block;

}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: #cccccc;
}

.inputfile+label {
    cursor: pointer;
    /* "hand" cursor */

}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

label[for="file"] {
    margin-bottom: 0px !important;
    cursor: pointer;
}

/*****************FORMULARIO DE LOGIN-REGISTRO-COMPARTIR******************/

.container {
    height: 100%;
    align-content: center;
}

.card {
    /*height: 370px;*/
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

/************************************/
footer {
    background: #F1C435 !important;
    border: none !important;
    min-height: 9.4vh;
}

/*Contacto*/

.col-md-2 {
    background: #ff9b00;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.contact-info {
    margin-top: 10%;
}

.contact-info img {
    margin-bottom: 5%;
}

.contact-info h2 {
    margin-bottom: 1%;
}

.col-md-9 {
    background: #fff;
    border-radius: 0.5rem;
}

.contact-form label {
    font-weight: 600;
}

.contact-form button {
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}

.contact-form button:focus {
    box-shadow: none;
}

.table td,
.table th {
    text-align: center !important;
}

thead {
    background: rgb(233, 209, 132) !important;
}

div#revisionReportes:nth-of-type(odd) {
    background: #f1f1f1;
}

div#revisionReportes:nth-of-type(even) {
    background: rgb(153, 153, 153);
}

.footer-copyright {
    background: rgb(160, 132, 39) !important;
}

/*Contacto*/
@media (min-width: 768px) {

    /**NUEVO**/
    header {
        height: auto !important;
    }

    .carousel-inner>.carousel-item>img {
        height: 200px !important;
    }

    /**NUEVO**/
    aside ul li:hover {
        background: #CCCCCC !important;
    }
}

@media (min-width: 992px) {

    .border-bottom {
        border: none !important;
    }

    section {
        min-height: 58.6vh;
    }

    .collapse {
        padding: .5rem !important
    }

    .active {
        background: #CCCCCC !important;
    }

    aside ul li {
        border-top: 0px solid black !important;
        border-right: 1px solid black !important;
        color: white !important;
        font-weight: bold;

    }

    .dropdown-menu {
        border: none !important;
    }

    .navbar-nav {
        margin: 0;
    }

    aside {
        height: auto !important;
    }

    aside ul {
        background-color: white;
    }

    .enlaceAside {
        display: block;
        width: 100% !important;
        height: 100% !important;
    }

    aside ul li a {
        color: rgb(71, 71, 71) !important;
    }

    aside .categorias {
        color: rgb(71, 71, 71) !important;
        background: rgb(253, 253, 253) !important;
        border-right: 1px solid rgb(87, 87, 87) !important;
        border-left: 1px solid rgb(87, 87, 87) !important;
    }

    aside ul li:first-of-type {
        border-left: none !important;
    }

    aside ul li {
        border-bottom: 1px solid black !important;
        border-left: none !important;
        border-right: none !important;
        padding-left: 30px;
    }


    header {
        height: 300px !important;
    }

    div#carouselExampleControls {
        height: 82% !important;
    }

    .carousel-inner>.carousel-item>img {
        height: 255px !important;
    }

    .navbar-brand {
        color: #343a40 !important;
    }

    .navbar-nav {
        background: #F1C435 !important;
        color: white;
    }

    .publicacion {
        border: none !important;
    }
    #navbarSupportedContent>ul.navbar-nav>li:hover {
        background: none !important;
    }

    .dropdown-menu {
        display: static;
        top: 34px !important;
        left: -31px !important;
    }

    /**Zoom imagen reportes**/

    #imagenReportes {
        transition: transform .6s;
        /* Animation */
    }

    #imagenReportes:hover {

        transform: scale(2);
        /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
}

@media (min-width:1200px) {}